<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isEvaluate</key>
		<string>YES</string>
		<key>sendTime</key>
		<string>2015-10-10</string>
		<key>avatarPicture</key>
		<string>1.png</string>
		<key>content</key>
		<string>Where does the hero mainly have to pass on the top mountion sdf sdf  sdf sdf sdf  </string>
	</dict>
	<dict>
		<key>isEvaluate</key>
		<string>YES</string>
		<key>sendTime</key>
		<string>2015-11-10</string>
		<key>avatarPicture</key>
		<string>1.png</string>
		<key>content</key>
		<string>1 妈妈说，女人一定要爱自己的脸，别人打你左脸，你再把右脸伸过去让他打，不然粉底不一样厚。1</string>
	</dict>
	<dict>
		<key>sendTime</key>
		<string>2015-9-10</string>
		<key>avatarPicture</key>
		<string>1.png</string>
		<key>content</key>
		<string>2 妈妈说，女人一定要爱自己的脸，别人打你左脸，你再把右脸伸过去让他打，不然粉底不一样厚。2</string>
	</dict>
	<dict>
		<key>sendTime</key>
		<string>2015-8-10</string>
		<key>avatarPicture</key>
		<string>1.png</string>
		<key>content</key>
		<string>3 妈妈说，女人一定要爱自己的脸，别人打你左脸，你再把右脸伸过去让他打，不然粉底不一样厚。</string>
	</dict>
	<dict>
		<key>isEvaluate</key>
		<string>YES</string>
		<key>sendTime</key>
		<string>2015-9-10</string>
		<key>avatarPicture</key>
		<string>1.png</string>
		<key>content</key>
		<string>妈妈说，女人一定要爱自己的脸，别人打你左脸，你再把右脸伸过去让他打，不然粉底不一样厚。</string>
	</dict>
	<dict>
		<key>sendTime</key>
		<string>2015-10-10</string>
		<key>avatarPicture</key>
		<string>1.png</string>
		<key>content</key>
		<string>妈妈说，女人一定要爱自己的脸，别人打你左脸，你再把右脸伸过去让他打，不然粉底不一样厚。</string>
	</dict>
	<dict>
		<key>sendTime</key>
		<string>2015-10-10</string>
		<key>avatarPicture</key>
		<string>1.png</string>
		<key>content</key>
		<string>妈妈说，女人一定要爱自己的脸，别人打你左脸，你再把右脸伸过去让他打，不然粉底不一样厚。</string>
	</dict>
	<dict>
		<key>sendTime</key>
		<string>2015-10-10</string>
		<key>avatarPicture</key>
		<string>1.png</string>
		<key>content</key>
		<string>妈妈说，女人一定要爱自己的脸，别人打你左脸，你再把右脸伸过去让他打，不然粉底不一样厚。</string>
	</dict>
	<dict>
		<key>sendTime</key>
		<string>2015-10-10</string>
		<key>avatarPicture</key>
		<string>1.png</string>
		<key>content</key>
		<string>妈妈说，女人一定要爱自己的脸，别人打你左脸，你再把右脸伸过去让他打，不然粉底不一样厚。</string>
	</dict>
	<dict>
		<key>sendTime</key>
		<string>2015-10-10</string>
		<key>avatarPicture</key>
		<string>1.png</string>
		<key>content</key>
		<string>妈妈说，女人一定要爱自己的脸，别人打你左脸，你再把右脸伸过去让他打，不然粉底不一样厚。</string>
	</dict>
	<dict>
		<key>sendTime</key>
		<string>2015-10-10</string>
		<key>avatarPicture</key>
		<string>1.png</string>
		<key>content</key>
		<string>妈妈说，女人一定要爱自己的脸，别人打你左脸，你再把右脸伸过去让他打，不然粉底不一样厚。</string>
	</dict>
	<dict>
		<key>sendTime</key>
		<string>2015-10-10</string>
		<key>avatarPicture</key>
		<string>1.png</string>
		<key>content</key>
		<string>妈妈说，女人一定要爱自己的脸，别人打你左脸，你再把右脸伸过去让他打，不然粉底不一样厚。</string>
	</dict>
	<dict>
		<key>sendTime</key>
		<string>2015-10-10</string>
		<key>avatarPicture</key>
		<string>1.png</string>
		<key>content</key>
		<string>妈妈说，女人一定要爱自己的脸，别人打你左脸，你再把右脸伸过去让他打，不然粉底不一样厚。</string>
	</dict>
	<dict>
		<key>sendTime</key>
		<string>2015-10-10</string>
		<key>avatarPicture</key>
		<string>1.png</string>
		<key>content</key>
		<string>妈妈说，女人一定要爱自己的脸，别人打你左脸，你再把右脸伸过去让他打，不然粉底不一样厚。</string>
	</dict>
	<dict>
		<key>sendTime</key>
		<string>2015-10-10</string>
		<key>avatarPicture</key>
		<string>1.png</string>
		<key>content</key>
		<string>妈妈说，女人一定要爱自己的脸，别人打你左脸，你再把右脸伸过去让他打，不然粉底不一样厚。</string>
	</dict>
	<dict>
		<key>sendTime</key>
		<string>2015-10-10</string>
		<key>avatarPicture</key>
		<string>1.png</string>
		<key>content</key>
		<string>妈妈说，女人一定要爱自己的脸，别人打你左脸，你再把右脸伸过去让他打，不然粉底不一样厚。</string>
	</dict>
	<dict>
		<key>sendTime</key>
		<string>2015-10-10</string>
		<key>avatarPicture</key>
		<string>1.png</string>
		<key>content</key>
		<string>妈妈说，女人一定要爱自己的脸，别人打你左脸，你再把右脸伸过去让他打，不然粉底不一样厚。</string>
	</dict>
	<dict>
		<key>sendTime</key>
		<string>2015-10-10</string>
		<key>avatarPicture</key>
		<string>1.png</string>
		<key>content</key>
		<string>妈妈说，女人一定要爱自己的脸，别人打你左脸，你再把右脸伸过去让他打，不然粉底不一样厚。</string>
	</dict>
	<dict>
		<key>sendTime</key>
		<string>2015-10-10</string>
		<key>avatarPicture</key>
		<string>1.png</string>
		<key>content</key>
		<string>妈妈说，女人一定要爱自己的脸，别人打你左脸，你再把右脸伸过去让他打，不然粉底不一样厚。</string>
	</dict>
	<dict>
		<key>sendTime</key>
		<string>2015-10-10</string>
		<key>avatarPicture</key>
		<string>1.png</string>
		<key>content</key>
		<string>妈妈说，女人一定要爱自己的脸，别人打你左脸，你再把右脸伸过去让他打，不然粉底不一样厚。</string>
	</dict>
	<dict>
		<key>sendTime</key>
		<string>2015-10-10</string>
		<key>avatarPicture</key>
		<string>1.png</string>
		<key>content</key>
		<string>妈妈说，女人一定要爱自己的脸，别人打你左脸，你再把右脸伸过去让他打，不然粉底不一样厚。</string>
	</dict>
	<dict>
		<key>sendTime</key>
		<string>2015-10-10</string>
		<key>avatarPicture</key>
		<string>1.png</string>
		<key>content</key>
		<string>妈妈说，女人一定要爱自己的脸，别人打你左脸，你再把右脸伸过去让他打，不然粉底不一样厚。</string>
	</dict>
</array>
</plist>
